Repository HYF-Class19/agile-development-loruki-group-2, pull requests merged in 2022-08, with the labels that each got.

#6 added contraints.md file
  planning/constraints.md
Labels: planning

#8 added information in userpersona, backlog and development-strategy.md files in planning
  planning/backlog.md
  planning/development-strategy.md
  planning/user-personas.md
Labels: planning, md files

#11 correct name of project in README.md to match with the one in user-pe…
  README.md
Labels: documentation

#14 public readme inclusion members list
  .cspell.json
  README.md
Labels: documentation

#23 Create navbar feature in index.html
  .vscode/settings.json
  css/style.css
  css/styles.css
  index.html
  package-lock.json
  package.json
  planning/README.md
Labels: html, homepage, Navbar

#24 update content in navbar on index.html
  index.html
Labels: html

#25 Home navbar
  index.html
Labels: html, Navbar

#32 Page features html css
  .vscode/settings.json
  features-css/style.css
  features-css/utilities.css
  features.html
Labels: html, features page, css

#36 Pages index, features and docs - Add two images on features add footer on index and docs add favicon in three pages
  .cspell.json
  css/style.css
  css/utilities.css
  docs-css/style.css
  docs-css/utilities.css
  docs-images/loruki-favicon.png
  docs.html
  features-images/loruki-favicon.png
  features-images/server.png
  features-images/server2.png
  features.html
  index-images/loruki-favicon.png
  index.html
Labels: html, css

#37 Changes to md files of Planning
  planning/backlog.md
  planning/constraints.md
  planning/development-strategy.md
  planning/retrospective.md
  planning/user-personas.md
Labels: md files

#38 home (index) and docs pages : html and css
  .cspell.json
  docs-images/docs.png
  docs.html
  index-css/style.css
  index-css/utilities.css
  index-images/cli.png
  index-images/clojure.png
  index-images/cloud.png
  index-images/csharp.png
  index-images/node.png
  index-images/php.png
  index-images/python.png
  index-images/ruby.png
  index-images/scala.png
  index.html
Labels: html, css
